@model IEnumerable<IT_Comp.Models.department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null,new { @class= "btn btn-success " })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.durl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dlogo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.durl)
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => item.dlogo)*@
            <img src="@Url.Content(item.dlogo)" width="50" height="50" alt="no image" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.dno }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Details", "Details", new { id = item.dno }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.dno }, new { @class = "btn btn-danger" })|
            @Html.ActionLink("EmpInfo", "Index", "employees", new { id = item.dno }, new { @class = "btn btn-warning" })|
        </td>
    </tr>
}

</table>
